@use 'variabler' as *;

.footer {
  grid-column: first / end;
  grid-row: row3-start / row-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: $grafiskDesign3Hex;
  color: $titleColor;
  border-top: 4px solid $grafiskDesign1Hex;
  min-height: 17rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer-text {
  text-align: left;

  @media screen and (max-width: 768px) {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.social {
  text-align: right;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.social a {
  text-decoration: none;
  color: $titleColor;
  font-size: 2.5rem;
  display: inline-block;
  padding: 10px;
  margin: 0 10px;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
    margin: 5px 8px;
  }

  &:hover,
  &:focus {
    color: color.adjust($titleColor, $lightness: -15%);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
}
