.header {
  grid-column: first / end;
  grid-row: row1-start / row2-start;
  display: grid;
  grid-template-columns: [first] 20% [second] auto [third] auto [end];
  grid-template-rows: [row1-start] auto [row-end];
  // display: flex;
  // flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $grafiskDesign2Hex;
  padding: 1rem;
  border-bottom: 4px solid $grafiskDesign1Hex;
}

.logo {
  padding: 1rem;
  grid-column: first / second;
  grid-row: row1-start / row-end;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  grid-column: second / third;
  grid-row: row1-start / row-end;

  a {
    color: $grafiskDesign4Hex;
    text-decoration: none;
  }
}

.nav {
  grid-column: third / end;
  grid-row: row1-start / row-end;
  justify-self: end;
}

.title a:hover {
  color: $grafiskDesign1Hex;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  font-size: 3rem;
  color: $grafiskDesign4Hex;
  text-decoration: none;

  &:hover {
    color: $grafiskDesign1Hex;
    border-bottom: 4px solid $grafiskDesign1Hex;
  }
}

