@use 'variabler' as *;

// $theme: 'light' !default;
// @use 'variabler' as v with (
//   $theme: $theme
// );

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html,
body {
  height: 100%;
  background-color: $mainBackColor;
}


body {
  // display: grid;
  // grid-template-columns: [first] 20% [second] 60% [third] 20% [end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row-end];
  display: flex;
  flex-direction: column;
}

.main {
  grid-column: second / third;
  grid-row: row2-start / row3-start;
  background-color: $mainBackColor;
  // flex: 1 0 auto;
  // @media (max-width: 768px) {
  //   display: grid;
  //   grid-template-columns: [first] 10% [second] auto [third] 10% [end];
  //   grid-column: second / third;
  // }
}

// .header,
// .footer {
//   // flex: 0 0 auto;
// }

.main {
  width: 100%;
  max-width: 64rem;
  padding: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $mainBackColor;
}

.main a {
  color: $mainFonColor;
}

.links a {
  color: $mainFonColor;
  text-decoration: none;
}

.webbsite {
  width: 300px;
  height: auto;
}

.hidden {
  display: none !important;
}

.image-text-container {
  max-width: 100%;
  margin: 0 auto;
}

.float-image {
  float: left;
  margin: 0 10px 0 0;
  height: auto;
}

.image-text-container::after {
  content: '';
  display: table;
  clear: both;
}
