$mainBackColor: #fff;
$mainFonColor: #333;

/* Color Theme Swatches in Hex */
$grafiskDesign1Hex: #89888c;
$grafiskDesign2Hex: #594022;
$grafiskDesign3Hex: #402813;
$grafiskDesign4Hex: #f2eeeb;
$grafiskDesign5Hex: #0d0d0d;

/* Color Theme Swatches in RGBA */
$grafiskDesign1Rgba: rgba(136, 136, 140, 1);
$grafiskDesign2Rgba: rgba(89, 64, 33, 1);
$grafiskDesign3Rgba: rgba(63, 39, 19, 1);
$grafiskDesign4Rgba: rgba(242, 238, 234, 1);
$grafiskDesign5Rgba: rgba(12, 12, 12, 1);

/* Color Theme Swatches in HSLA */
$grafiskDesign1Hsla: hsla(247, 1, 54, 1);
$grafiskDesign2Hsla: hsla(33, 44, 24, 1);
$grafiskDesign3Hsla: hsla(28, 53, 16, 1);
$grafiskDesign4Hsla: hsla(28, 22, 93, 1);
$grafiskDesign5Hsla: hsla(0, 0, 5, 1);
