$mainBackColor: #222;
$mainFonColor: #eee;

/* Color Theme Swatches in Hex */
$grafiskDesign1Hex: #02060d;
$grafiskDesign2Hex: #011c40;
$grafiskDesign3Hex: #081526;
$grafiskDesign4Hex: #4f6f8c;
$grafiskDesign5Hex: #98a6a2;

/* Color Theme Swatches in RGBA */
// $Audi-RS6-1-rgba: rgba(2, 5, 12, 1);
// $Audi-RS6-2-rgba: rgba(1, 28, 63, 1);
// $Audi-RS6-3-rgba: rgba(7, 20, 38, 1);
// $Audi-RS6-4-rgba: rgba(78, 111, 140, 1);
// $Audi-RS6-5-rgba: rgba(152, 165, 161, 1);

// /* Color Theme Swatches in HSLA */
// $Audi-RS6-1-hsla: hsla(219, 70, 2, 1);
// $Audi-RS6-2-hsla: hsla(213, 96, 12, 1);
// $Audi-RS6-3-hsla: hsla(213, 66, 9, 1);
// $Audi-RS6-4-hsla: hsla(208, 28, 42, 1);
// $Audi-RS6-5-hsla: hsla(163, 6, 62, 1);
